<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All-tasks</title>
</head>
<body>
<div th:replace="~{_header}"></div>
<form th:action="@{/task/all-tasks}" th:object="${tasks}" method="get" >



    <hr>
    <p>List of tasks:</p>
    <div>
        <table class="table">
            <thead class="table-light">
            <tr>
                <th scope="col">Creator</th>
                <th scope="col">Performer</th>
                <th scope="col">Client</th>
                <th scope="col">Description</th>
            </tr>
            <div th:each="task : ${tasks}">
                <a th:href="@{/task/{id}(id=${task.getId()})}"
                   th:text="${task.getCreator().username + ' ' + task.performer.username + ' ' + task.getClient().clientName + ' ' + task.getDescription()}">userName</a>

            </div>
            </thead>
<!--            <tbody>-->
            <!--<div th:each="task : ${tasks}">
                <a th:href="@{/task/{id}(id=${task.getId()})}"
                   th:text="${task.getCreator().username + ' ' + task.performer.username + ' ' + task.getClient().clientName + ' ' + task.getDescription()}">userName</a>

            </div>-->
            <!--<tr th:each="task: ${tasks}">
                <td th:href="${task.creator} + '  '"/>
                <td th:text="${task.performer} + '  '"/>
                <td th:text="${task.client} + '  '"/>
                <td th:text="${task.description} + '  '"/>
            </tr>-->
<!--            </tbody>-->
        </table>
    </div>
    <hr>

</form>
</body>
</html>
