<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0
        }

        .mb-3 {
            margin-left: auto;
            margin-right: auto;
            width: 25%;
        }

        form {
            padding: 14px
        }
    </style>
</head>
<body>
<div th:replace="~{_header}"></div>

<form th:method="post" th:action="@{/task/{id}(id=${id})}" th:object="${task}">

    <div style="text-align: center;"><h2>Task information:</h2></div>

    <div class="mb-3">
        <label for="NameOfCreator" class="form-label">Name of Creator</label>
        <input type="text" class="form-control" th:field="*{creator.username}" id="NameOfCreator">
        <p th:if="${#fields.hasErrors('creator.username')}" th:errors="*{creator.username}"></p>
    </div>
    <div class="mb-3">
        <label for="NameOfPerformer" class="form-label">Name of Performer</label>
        <input type="text" class="form-control" th:field="*{performer.username}" id="NameOfPerformer">
        <p th:if="${#fields.hasErrors('performer.username')}" th:errors="*{performer.username}"></p>
    </div>
    <div class="mb-3">
        <label for="NameOfClient" class="form-label">Name of Client</label>
        <input type="text" class="form-control" th:field="*{client.clientName}" id="NameOfClient">
        <p th:if="${#fields.hasErrors('client.clientName')}" th:errors="*{client.clientName}"></p>
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input type="text" class="form-control" th:field="*{description}" id="Description">
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
    </div>
    <div style="text-align:center">
        <button class="btn btn-secondary">Edit</button>
    </div>
</form>

<form th:method="DELETE" th:action="@{/task/{id}(id=${id})}">
    <div style="text-align:center">
        <button class="btn btn-secondary">Delete</button>
    </div>
</form>
</body>
</html>