<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All-clients</title>
</head>
<body>
<div th:replace="~{_header}"></div>
<form th:action="@{/client/all-clients}" th:object="${clients}" method="get" >



    <hr>
    <p>List of clients:</p>
    <div>
        <table class="table">
            <thead class="table-light">
            <tr>
                <th scope="col">Client Name</th>
                <th scope="col">Address</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client: ${clients}">
                <td th:text="${client.getClientName()} + '  '"/>
                <td th:text="${client.addresses} + '  '"/>
                <td th:text="${client.description} + '  '"/>
            </tr>
            </tbody>
        </table>
    </div>

    <!--<div th:each="client : ${clients}">
        <a th:href="@{/client/all-clients.html/{id}(id=${client.getId()})}" th:text="${client.getClientName()} ">clientName</a>
        <a th:href="@{/client/all-clients.html/{id}(id=${client.getId()})}" th:text="${client.getAddresses()}">description</a>
    </div>-->
    <hr>

</form>
</body>
</html>
