<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All-clients</title>
</head>
<body>
<div th:replace="~{_header}"></div>
<form th:action="@{/client/all-clients}" th:object="${clients}" method="get" >



    <hr>
    <p>List of tasks:</p>
    <div>
        <table class="table">
            <thead class="table-light">
            <tr>
                <th scope="col">Client Name</th>
                <th scope="col">Address</th>
                <th scope="col">Description</th>
            </tr>
            <div th:each="client : ${clients}">
                <a th:href="@{/client/{id}(id=${client.getId()})}"
                   th:text="${client.clientName + ' ' + client.addresses + ' ' + client.description}">userName</a>

            </div>
            </thead>
        </table>
    </div>
    <hr>

</form>
</body>
</html>
