<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0
        }

        .mb-3 {
            margin-left: auto;
            margin-right: auto;
            width: 25%;
        }

        form {
            padding: 50px
        }
    </style>
</head>
<body>
<div th:replace="~{_header}"></div>

<form th:method="post" th:action="@{/client/{id}(id=${id})}" th:object="${client}">
    <div style="text-align: center;"><h2>Client information:</h2></div>
    <div class="mb-3">
        <label for="ClientName" class="form-label">Name of Client</label>
        <input type="text" class="form-control" th:field="*{clientName}" id="ClientName">
        <p th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}"></p>
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Address of Client</label>
        <input type="text" class="form-control" th:field="*{address}" id="Address">
        <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input type="text" class="form-control" th:field="*{description}" id="Description">
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
    </div>


    <div style="text-align:center"><button  class="btn btn-secondary">Edit</button></div>

</form>
<form th:method="DELETE" th:action="@{/user/{id}(id=${id})}">
    <div style="text-align:center"><button  class="btn btn-secondary">Delete</button></div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>