<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>

</head>
<body>


<!--<form th:method="PATCH" th:action="@{/user/{id}/edit(id=${user.getUser_id()})}" th:object="${user}">

  <br><br/>

  <label for="username">Enter userName: </label>
  <input type="text" placeholder="UserName" th:field="*{username}" id="username"/>


  <div style="color:red"
       th:if="${#fields.hasErrors('username')}"
       th:errors="*{username}">UserName Error
  </div>

  <br><br/>


  <label for="password">Enter password: </label>
  <input placeholder="Password" type="password" th:field="*{password}" id="password"/>


  <div style="color:red"
       th:if="${#fields.hasErrors('password')}"
       th:errors="*{password}">Password Error
  </div>

  <br><br/>


  <label for="firsName">Enter FirstName: </label>
  <input placeholder="firstName" type="text" th:field="*{name}" id="firsName"/>


  <div style="color:red"
       th:if="${#fields.hasErrors('firstName')}"
       th:errors="*{name}">FirstName Error
  </div>

  <br><br/>


  <label for="lastName">Enter LastName: </label>

  <input placeholder="position" type="text" th:field="*{position}" id="position"/>


  <div style="color:red"
       th:if="${#fields.hasErrors('position')}"
       th:errors="*{position}">LastName Error
  </div>

  <br><br/>
  <label for="lastName">Enter position: </label>

  <input placeholder="LastName" type="text" th:field="*{position}" id="LastName"/>


  <div style="color:red"
       th:if="${#fields.hasErrors('position')}"
       th:errors="*{position}">position Error
  </div>
  <br><br/>

  <br><br/>

  <input type="submit" value="Update"/>
</form><br>

<a class="bullet-button" href="/user">Back</a>-->
</body>
</html>